{% extends 'main_app/basic_page.html' %}
{% load humanize %}
{% load static %}
{% block content %}
    <div class="page_article_image"
         style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('{{ article.image.url }}');">
        <div class="text_in_article_image">
            <h1>{{ article.title }}</h1>
        </div>
    </div>
    <div class="background_for_page_image"></div>
    <div class="top_border_blog_info"></div>
    <div class="blog">
        <div class="blog_info">
            <span class="blog_data">{{ article.date.date }}</span>
            <a href="{% url 'user_profile' article.author.username %}" class="blog_author_name">
                {{ article.author.get_full_name }}
            </a>
            <div class="quantity_comment">
                <strong>COMMENTS: {{ comment.count }}</strong>
            </div>
            <div class="quantity_likes">
                <strong>LIKES: {{ all_likes }}</strong>
            </div>
        </div>
        <div class="blog_text">
            {% autoescape off %}
                <p>{{ article.text }}</p>
            {% endautoescape %}
            {% if request.user.is_authenticated %}
                {% if is_liked %}
                    <div class="marks_diagram">
                        {% for mark in marks %}
                            {% if mark.is_liked %}
                                <div class="like_diagram">
                                    <div class="text_in_marks">
                                        <p class="left">{{ mark.count }}</p>
                                        <img src="{% static 'images/like.png' %}" alt="like">
                                    </div>
                                </div>
                            {% elif not mark.is_liked and marks|length == 1 %}
                                <div class="like_diagram">
                                    <div class="text_in_marks">
                                        <p class="left">0</p>
                                        <img src="{% static 'images/like.png' %}" alt="like">
                                    </div>
                                </div>
                            {% endif %}

                            {% if forloop.counter == 1 %}
                                <div class="marks_statistics">
                                    <div class="statistics_like" style="width: {{ like_percent }}%;"></div>
                                    <div class="statistics_dislike" style="width: {{ dislike_percent }}%;"></div>
                                </div>
                            {% endif %}

                            {% if not mark.is_liked %}
                                <div class="dislike_diagram">
                                    <div class="text_in_marks">
                                        <img src="{% static 'images/dislike.png' %}" alt="dislike">
                                        <p class="right">{{ mark.count }}</p>
                                    </div>
                                </div>
                            {% elif mark.is_liked and marks|length == 1 %}
                                <div class="dislike_diagram">
                                    <div class="text_in_marks">
                                        <img src="{% static 'images/dislike.png' %}" alt="dislike">
                                        <p class="right">0</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="like_dislike">
                        <a class="like" href="{% url 'add_like' article.id %}">
                            <div class="text_in_marks">
                                <img src="{% static 'images/like.png' %}" alt="like">
                                <p class="like_it">I LIKE IT</p>
                            </div>
                        </a>
                        <a class="dislike" href="{% url 'add_dislike' article.id %}">
                            <div class="text_in_marks">
                                <img src="{% static 'images/dislike.png' %}" alt="dislike">
                                <p class="dislike_it">I DON'T LIKE IT</p>
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="authholder">
            <div class="author">
                <div class="author_img">
                    <img src="{{ article.author.avatar.url }}" alt="author_avatar">
                </div>
                <div class="body">
                    <div class="name">Автор:
                        <strong>{{ article.author.get_full_name }}</strong>
                    </div>
                    <a href="{% url 'user_articles' article.author.username %}" class="more">All articles of this
                        author</a>
                </div>
            </div>
            <div class="authmats">
                <strong>Последние статьи автора:</strong>
                {% for last_article in last_articles %}
                    <p>
                        <a class="last_articles" href="{% url 'article_detail' last_article.slug %}">
                            {{ last_article.title }}
                        </a>
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="comment_body">
        <div class="comment_count">
            <div class="comments">COMMENTS:</div>
        </div>
        <div class="comment_main">
            {% if request.user.is_authenticated %}
                <div class="comment_new">
                    <img src="{{ user.avatar.url }}" alt="user_avatar">
                    <form method="POST" class="post-form">
                        {% csrf_token %}
                        <div class="comment_input_and_save">
                            <div class="comments_info">
                                {{ form.media }}
                                {{ form.text }}
                            </div>
                            <button type="submit" class="send_comment">Send</button>
                        </div>
                    </form>
                </div>
            {% endif %}
            {% autoescape off %}
                {% for comment_in_article in comment %}
                    <div class="comment_in_article">
                        <img src="{{ comment_in_article.author.avatar.url }}" alt="comment_author_avatar">
                        <div class="comment_info">
                            <div class="comment_image_date">
                                <a href="{% url 'user_profile' comment_in_article.author.id %}">
                                    {{ comment_in_article.author.get_full_name }}
                                </a>
                                <span aria-hidden="true">•</span>
                                <p>{{ comment_in_article.date|naturaltime }}</p>
                            </div>
                            <p class="comment_text">{{ comment_in_article.text }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endautoescape %}
        </div>
    </div>
{% endblock %}
