{% extends 'main_app/basic_page.html' %}

{% block content %}
    <div class="main_new_article">
        <div class="white_background_above_profile"></div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="new_article">
                <p>New post</p>
            </div>
            <div class="body_new_article">
                <div class="create_new_article">
                    <div class="new_article_title">
                        <label for="id_title">
                            Title:
                        </label>
                        {% if type == 'CREATE' %}
                            <textarea id="id_title" maxlength="150" name="title" required></textarea>
                        {% else %}
                            <textarea id="id_title"
                                      maxlength="150"
                                      name="title"
                                      required
                            >{{ article.title }}</textarea>
                        {% endif %}
                    </div>
                    <div class="new_article_text">
                        <label for="id_text">
                            Text:
                        </label>
                        <div>
                            {{ form.media }}
                            {{ form.text }}
                        </div>
                    </div>
                    <div class="new_article_short_description">
                        <label for="id_short_description">
                            Short description:
                        </label>
                        {% if type == 'CREATE' %}
                            <textarea name="short_description" maxlength="120" oninput="replace_space(id)" id="id_short_description" required></textarea>
                        {% else %}
                            <textarea name="short_description"
                                      maxlength="120"
                                      id="id_short_description"
                                      required
                            >{{ article.short_description }}</textarea>
                        {% endif %}
                    </div>
                    <div class="new_article_image">
                        <label class="label_new_image">
                            Image:
                        </label>
                        <input type="file" class="inputfile" required oninput="upload_article_image()"  name="image" accept="image/*" id="id_image"  data-multiple-caption="{count} files selected" multiple />
                        <label for="id_image">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                            <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path>
                            </svg>
                            <span class="replace">
                                Choose a file…
                            </span>
                        </label>
                        <button type="submit" class="save_new_article" style="padding: 5px 15px 5px 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    background-color: #d3cab4;
    display: inline-block;
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 19px;
    float: right;">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}