{% extends 'main_app/basic_page.html' %}
{% block content %}
<div class="body_profile">
    <div class="white_background_above_profile">
        {% if not is_my_profile %}
            <div class="report" style="width: max-content; padding-top: 2.29%; margin-left: 30px;">
                <a href="#" style="
                text-transform: uppercase;
                padding: 0 6px 0 6px;
                border-radius: 5px 5px 0 0;
                background-color: #738589;
                color: #264041;
                font-weight: 700;
                font-size: 13px;">пожаловаться</a>
            </div>
        {% endif %}
    </div>
    <div class="report_profile">
        {% if is_my_profile %}
            <div class="change_profile">
                <a href="{% url 'edit_profile' %}">Изменить профиль</a>
        {% else %}
            <div class="change_profile">
                <a href="#">Подписаться</a>
        {% endif %}
        </div>
    </div>
    <div class="main_profile">
        <div class="white_background_above_main"></div>
        <div class="about_profile">
            <div class="profile_info_img">
                <img src="{{ user.avatar.url }}" style="      margin-left: 235px;
                                                        height: 178px;
                                                        width: 178px;
                                                        object-fit: cover;
                                                        margin-top: -15px;
                                                        border: 3px solid #fff;">
                <div class="profile_info">
                    <div class="profile_name">
                        <a>{{ user.get_full_name }}</a>
                        {% if user.is_authenticated %}
                            <div class="user_online"></div>
                        {% else %}
                            <div class="user_offline"></div>
                        {% endif %}
                    </div>
                <a class="username">USERNAME: {{ user.username }}</a>
                </div>
            </div>
            <div class="statistic_user">
                <div class="statistic">
                    <div class="text_in_statistic">
                        <a href="{% url 'article_created_by_user' user.id %}" id="statistic_article">
                            Статьи
                        </a>
                    </div>
                    <div class="number_for_article">
                        <a>{{ user_article_count }}</a>
                    </div>
                </div>
                <div class="subscribers">
                    <div class="text_in_statistic">
                        <a id="statistic_subscribers">Подписчики</a>
                    </div>
                    <div class="number_for_subscribers">
                        <a>NONE</a>
                    </div>
                </div>
                <div class="subscriptions">
                    <div class="text_in_statistic">
                        <a id="statistic_subscriptions">Подписки</a>
                    </div>
                    <div class="number_for_subscriptions">
                        <a>NONE</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cursor_pointer">
            <div class="statistic_info_background"  onclick="open_statistic()">
                <div class="main_statistic_button">
                    <div class="body_statistic_button">
                        <div class="statistic_button" id="statistic_button"></div>
                        <p class="statistic_name">СТАТИСТИКА</p>
                    </div>
                </div>
                <div class="white_background_statistic" id="body_statistic">
                    <div class="body_with_statistic" id="block_with_statistic">
                        <div class="statistic_comments">
                            <div class="body_white_strip">
                                <div class="white_strip"></div>
                            </div>
                            <div class="text_in_body_statistic">комментарии: {{user_comment_count}}</div>
                        </div>
                        <div class="statistic_likes">
                            <div class="display_statistic_likes">
                                <div class="body_white_strip">
                                    <div class="white_strip"></div>
                                </div>
                                <div class="text_in_body_statistic">нравится: NONE</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}