@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

@font-face {
    font-family: 'TT Norms';
        url('../fonts/TTNorms-Thin.woff2') format('woff2'),
        url('../fonts/TTNorms-Thin.woff') format('woff'),
        url('../fonts/TTNorms-Thin.ttf') format('truetype');
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

li{
    list-style: none;
}
body{
    font-family: 'Open Sans', sans-serif;
}
header{
	height: 85px;
	width: 100%;
	background: #000000;
	display: flex;
}

.social_icon{
	position: absolute;
    display: flex;
    margin-left: 850px;
    margin-top: -40px;
}

.fa-google-plus{
    margin-left: -3px;
}

.fa-vk{
    margin-left: -2px;
}

.fa-facebook{
    margin-top: 2px;
}

.social a {
    text-align: center;
	width: 34px;
    height: 34px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 6px;
    margin: 0 20px 0 0;
    padding: 6px;
    color: #000;
}

.google-pluse a:hover {background: #DD4B39; color: #fff;}
.facebook a:hover {background: #3b5998; color: #fff;}
.vk a:hover {background: #5d84ae; color: #fff;}

.white_bottom{
	width: 100%;
    height: 3px;
    color: #fff;
}

input#button_sign_in{
	margin-left: 40px;
	font-size: 14px;
	text-transform: uppercase;
 	color: #000; /* цвет текста */
 	background: #fcac45; /* фон кнопки */
 	padding: 7px 30px; /* отступ от текста */
 	outline: none; /* убирать контур в Mozilla */
	border: none;
}

input#button_sign_in:hover {
	background: #ea8d15;
	} /* при наведении курсора мышки */

input#button_log_in{
    margin-left: 620px;
    margin-top: -31px;
	position: absolute;
	font-size: 14px;
	text-transform: uppercase;
 	color: #000; /* цвет текста */
 	text-decoration: none; /* убирать подчёркивание у ссылок */
 	user-select: none; /* убирать выделение текста */
 	background: #fcac45; /* фон кнопки */
 	padding: 7px 30px; /* отступ от текста */
 	outline: none; /* убирать контур в Mozilla */
	border: none;
}

input#button_log_in:hover {
	background: #ea8d15;
}

a.rollover{
		margin-top: 29px;
		margin-left: 1%;
		margin-right: 40px;
        background: url(user1.png); /* Путь к файлу с исходным рисунком  */
        display: block; /*  Рисунок как блочный элемент */
        width: 26px; /* Ширина рисунка */
        height: 26px; /*  Высота рисунка */
       }
a.rollover:hover {
        background: url(user.png);
}

a.rollover2{
		margin-top: 29px;
		margin-right: 40px;
		margin-left: 1%;
        background: url(user.png); /* Путь к файлу с исходным рисунком  */
        display: block; /*  Рисунок как блочный элемент */
        width: 26px; /* Ширина рисунка */
        height: 26px; /*  Высота рисунка */
       }
a.rollover2:hover {
        background: url(user1.png);
}

.header__logo{
	text-transform: uppercase;
	color: #ffffff; 
	font-weight: 800;
	font-size: 24px;
	cursor: pointer;
	margin-top: 25px;
	margin-left: 4%;
}
.topnav a{
	color: #ffffff;
	text-align: center;
	padding: 12px 16px;
	font-size: 14px;
	font-weight: bold;
}
.topnav a:hover{
	border-bottom: 1px solid #fcac45;
}
.topnav .icon{
	display: none;
}

main{
	background: #000000;
}

#registration{
	width: 100%;
	padding: 35px 0 85px 20%;
}

.form-group {
	 position: relative;
	 padding-top: 1rem;
}

input{
	font-size: 15px;
	outline-color: #fcac45;
	outline-width: 30px;
}

.login-lb{
	color: #fcac45;
	position: absolute;
	left: 308px;
	top: 9px;
	opacity: 1;
	transform: translateY(0);
	transition: all 0.2s ease-out;
}


.password{
	margin-left: 20px;
}

label.password-lb{
	color: #fcac45;
	 position: absolute;
	 left: 536px;
	 top: 9px;
	 opacity: 1;
	 transform: translateY(0);
	 transition: all 0.2s ease-out;
}

a.forgot{
	margin-left: 229px;
	color: #A9A9A9;
}

a.forgot:hover{
	border-bottom: 1px solid #fcac45;
}

.main__blog{
  display:flex;
}

.main_in_blog{
	width: 1295px;
}

.main__article{
	display: grid;
    grid-template-columns: repeat(2, 600px);
    grid-template-rows: repeat(4, 250px);
    width: 1350px;
    padding-left: 53px;
    margin-top: 50px;
	margin-bottom: 50px;
}

.article{
	background-color: #fff;
    -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    min-height: 220px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 20px 0px;
    z-index: 50;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 15px 14px;
    height: 220px;
    width: 547px;
	flex-direction: inherit;
}

.img_cover{
	object-fit: cover;
	width: 120px;
	height: 110px;
	margin-right: 20px;
}

.article_date{
	font-size: 12px;
	color: #8A8A8A;
	text-transform: lowercase;
}

.article_id{
	font-size: 16px;
	color: #0A111B;
	font-weight: bolder;
}

.article_border{
	display: flex;
	position: absolute;
	width: 515px;
	margin-bottom: 30px;
	border-top: 1px solid #D2D7DB;
	margin-top: 143px;
}


.last__comments {
	border-top: 5px solid #ea8d15;
	border-left: 5px solid #ea8d15;
	border-bottom: 5px solid #ea8d15;
	background: #EEF0F2;
	width: 253px;
	color: #0A111B;
}

.comment{
	border-bottom: 1px solid #D2D7DB;
	padding-bottom: 15px;
	margin-bottom: 15px;
	margin-top: 15px;
	padding: 0 20px 20px;
}

.live_comments-title{
	font-size: 16px;
    color: #000000;
    font-weight: bold;
    padding: 12px 20px;
    cursor: pointer;
	border-bottom: 2px solid #0A111B;
}

#user_in_last_comment{
	font-size: 14px;
	color: #0A111B;
	font-weight: bold;
}

a#user_in_last_comment:hover {
	text-decoration: underline; /* Добавляем подчеркивание */
}


.footer{
	background: #000000;
	display: flex;
    height: 60px;
    align-items: center;
    font-size: 13px;
}

.footer__info{
	color: white;
	margin-left: 30px;
    margin-right: 460px;
	align-items: center;
	font-size: 12px;
	margin-top: -5px;
}

.footer__socials{
	color: white;
	margin-right: 460px;
	font-size: 12px;
	margin-top: -5px;
}

.footer_rss{
	color: white;
	display: inline-flex;
	align-items: center;
}

.image_for_footer_rss{
	height: 33px;
	width: 33px;
	overflow: hidden;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.image_for_footer_rss:hover{
	opacity: 0.7;
}


/* Article page */
.p_article_image{
	color: #000000;
	height: 500px;
	background-position: center;
    background-size: cover;
    position: relative;
    float: left;
    width: 100%;
    padding: 20px 0 100px;
    margin-bottom: 30px;
}

.p_article_image{
	 align-items: center;
}

.nobar{
	color: white;
	font-size: 47px;
	line-height: 55px;
	display: block;
	position: relative;
	float: left;
	margin-bottom: 35px;
	width: 906px;
	margin: 306px;
	text-align: center;
	font-family: 'Russo One', sans-serif;
}

.blog{
	width: 906px;
	margin: auto;
}

.quantity_comment{
    display: block;
    float: right;
    border-radius: 15px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #eef0f2;
    color: #999999;
    padding: 13px 13px 12px 13px;
    line-height: 14px;
    height: 14px;
    margin-top: -11px;
}

.quantity_likes{
    display: block;
    float: right;
    border-radius: 15px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #eef0f2;
    color: #999999;
    padding: 13px 13px 12px 13px;
    line-height: 14px;
    height: 14px;
    margin-top: -11px;
    margin-right: 20px;
}

.blog_info{
	line-height: 1.4em;
	font-size: 16px;
	padding: 18px 0;
	border-bottom: 1px solid #d2d7db;
}

.blog_date{
	display: inline-block;
	color: #999999;
}

.blog_author_name{
	display: inline-block;
	color: #e2223f;
	font-weight: 700;
	text-decoration: none;
	border-bottom: 1px solid #f0d5d8;
	margin-left: 35px;
}

.blog_text{
	padding: 40px 0;
	color: #333333;
	font-size: 16px;
	line-height: 24px;
}

.blog_text p{
    font-size: 20px;
    line-height: 1.7;
    font-family: 'TT Norms', Arial;
}

.authholder{
	border-left: 1px solid #d2d7db;
	border-right: 1px solid #d2d7db;
	width: 100%;
	display: flex;
	margin-bottom: 40px;
}

.author{
	border-top: 1px solid #d2d7db;
	border-bottom: 1px solid #d2d7db;
	padding: 35px 0 10px;
	float: left;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 35px;
	width: 50%;
	box-sizing: border-box;
}

.author_img{
	display: table-cell;
    vertical-align: top;
    position: relative;
}

.author_img img{
	object-fit: cover;
	display: block;
	margin-right: 35px;
	width: 125px;
	height: 125px;
	border-radius: 63px;
}

.body{
	display: table-cell;
    vertical-align: top;
    position: relative;
}

.name{
	font-size: 17px;
    font-weight: 700;
}

.name strong{
	display: block;
    font-weight: normal;
    line-height: 1.7em;
    margin-bottom: 20px;
    margin-top: 4px;
}

.more{
	font-size: 15px;
    line-height: 1.3em;
    width: 11em;
    bottom: 0.5em;
    text-decoration: underline;
	border: none;
	color: #e2223f;
}

.authmats{
	padding: 35px 0 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 35px;
    float: left;
    width: 50%;
    border-top: 1px solid #d2d7db;
    border-left: 1px solid #d2d7db;
    border-bottom: 1px solid #d2d7db;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.authmats strong{
	font-size: 16px;
	margin-bottom: 4px;
	display: block;
}

.authmats p{
	font-size: 14px;
    margin-bottom: 0.5em;
    line-height: 1.7em;
}

.comment_count{
    width: 910px;
    font-weight:bold;
    font-size: 15px;
    color: #2a2e2e;
    margin-top: 80px;
    padding-bottom: 13px;
    border-bottom: 2px solid #d2d7db;
}

.comment_new{
	margin-top: 15px;
	display: flex;
}

.comment_new img{
	object-fit: cover;
	height: 58px;
	width: 58px;
	margin-right: 12px;
	border-radius: 7px;
}

.comment_in_article{
	display: flex;
	margin-top: 30px;
	margin-left: 15px;
}

.comment_in_article img{
	object-fit: cover;
	height: 58px;
	width: 58px;
	margin-right: 12px;
	border-radius: 7px;
}

.comment_info{
	overflow: hidden;
	margin-top: 3px;
}

.comment_text{
	font-size: 15px;
	width: 97%;
}

.comment_image_date{
	display: flex;
	line-height: 11px;
	font-size: 13px;
	margin-bottom: 4px;
}

.comment_image_date a{
	color: #e2223f;
	line-height: 10px;
	font-size: 14px;
	margin-right: 5px;
	margin-bottom: 3px;
}
.comment_image_date span{
	margin-right: 5px;
	color: #c2c6cc;
}

.comment_image_date p{
	font-size: 12px;
	color: #868686;
}

.comment_input_and_save textarea{
	width: 836px;
	height: 57px;
}

.comment_body{
	margin-bottom: 80px;
}

/* All article */
.all_article_body{
    display: flex; width: 100%
}

.all_article_size{
    height:100%;
    width:100%;
    background-image: url('/static/css/background.jpg');
    background-attachment:fixed;
    background-position: inherit;
    background-size: cover;
}

.header_logo{
    background-color: black;
    margin-top: -49px;
    border: 3px solid white;
    width: 506px;
    margin-left: auto;
    margin-right: auto;
    height: 89px;
}

.header_logo a{
    position: absolute;
    margin-left: 72px;
    margin-top: 12px;
    color: #ffffff;
    font-weight: 800;
    font-size: 45px;
}

.white_background_above{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 51px;
    background-color: rgba(255, 255, 255, 0.34);
    margin-top: 44px;
}

.creator_articles{
    height: 54px;
    background-color: #264041;
    border-bottom: 2px solid #ea8d15;
}

.creator_articles p{
    width: fit-content;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    margin: auto;
    padding-top: 10px;
}

.creator_articles p a{
    color: white
}

.all_article{
	background-color: rgba(255, 255, 255, 0.34);
	display: grid;
	grid-template-columns: repeat(2, 600px);
	grid-template-rows: repeat(4, 250px);
	width: 1200px;
	margin: auto;
}

div.user_article div.short_description {
   	top: 100%;
}
div.user_article:hover div.short_description {
	top: 0;
}


div.main_user_article div.short_description {
   	top: 100%;
}
div.main_user_article:hover div.short_description {
	top: 0;
}

.short_description{
	background-size: cover;
	background-position: center;
	position: absolute;
	width: 548px;
	height: 100%;
	margin-left: -16px;
	z-index: 1;
    transition: all .8s;
}

.short_description p{
    width:515px;
    height: 170px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.name_user_article{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 50px;
}

.name_user_article a{
	color: #e2223f;
    border-bottom: 1px solid #f0d5d8;
}

.name_user_article h1{
	font-size: 40px;
	font-family: 'Russo One', sans-serif;
}

.user_article_img{
	width: 100%;
	margin: auto;
}

.user_background_img{
	background-image: url('/static/css/autor-page.png');
	background-repeat: no-repeat;
	background-position: center;
	padding: 40px;
	margin-top: 40px;
}

.user_background_img img{
	display: block;
	object-fit: cover;
	width: 126px;
	height: 126px;
	border-radius: 80px;
	border: 2px solid #D5D5D5;
	margin-left: auto;
	margin-right: auto;
}

.user_article{
	position: relative;
	background-color: #fff;
	-webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
	padding: 15px;
	min-height: 220px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 15px 27px;
	height: 220px;
	width: 547px;
	flex-direction: inherit;
}

.test{
	position: absolute;
	height: 220px;
	width: 547px;
 }

.user_article img{
	object-fit: cover;
	width: 120px;
	height: 110px;
	margin-right: 20px;
}

.user_article_and_img{
	display: flex;
	flex-direction: column;
	height: max-content;
}

.user_article_date{
	font-size: 12px;
	color: #8A8A8A;
	text-transform: lowercase;
}

.user_article_id{
	font-size: 16px;
	color: #0A111B;
	font-weight: bolder;
}

.user_article_border{
	display: flex;
    position: absolute;
    width: 515px;
    margin-top: 143px;
    box-sizing: content-box;
}

.user_article_social{
	display: flex;
    padding-top: 20px;
    width: 515px;
    border-top: 1px solid #D2D7DB;
    margin-top: auto;
}

.user_show_like{
	margin-right: 20px;
	display: flex;
	align-items: center;
	font-size: 12px;
	color: #8A8A8A;
	align-content: center;
	vertical-align: middle;
}

.user_show_comment{
	display: flex;
	align-items: center;
	font-size: 12px;
	color: #8A8A8A;
	align-content: center;
	vertical-align: middle;
}

.user_article_autor{
	margin-left: auto;
	font-weight: bold;
	color: #0A111B;
	align-items: center;
	font-size: 12px;
}

.user_img_and_name{
	display: flex;
	align-items: center;
}

.user_img_and_name img{
	width: 26px;
	min-width: 26px;
	height: 26px;
	border-radius: 30px;
	object-fit: cover;
	margin-right: 10px;
}

.interactive_blog{
	background-color: rgba(255, 255, 255, 0.34);
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.main_interactive{
    display: flex;
    padding-top: 30px;
    padding-bottom: 80px;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
}

.main_article{
    background: black;
    width: 1147px;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
}


.main_article img{
    opacity: 0.6;
    object-fit: cover;
    width: 1147px;
    height: 500px;
    z-index: 0;
}

.main_interactive h2{
    position: absolute;
    font-size: 20px;
    color: #fff;
    z-index: 1;
    padding-left: 30px;
    margin-top: 15px;
}

.main_article_info{
    position: absolute;
    top: 30px;
    left: 26px;
    height: 360px;
    width: 530px;
    padding: 30px;
    padding-top: 140px;
}

.main_article_border{
    display: flex;
    position: absolute;
    width: 515px;
    top: 80%;
    box-sizing: content-box;
}

.main_article_social{
    display: flex;
    padding-top: 20px;
    width: 515px;
    border-top: 1px solid #D2D7DB;
    margin-top: auto;
}

.main_img_and_name{
    display: flex;
    align-items: center;
}

.main_img_and_name img{
    opacity: 1;
    width: 26px;
    min-width: 26px;
    height: 26px;
    border-radius: 30px;
    object-fit: cover;
    margin-right: 10px;
}

.main_user_article{
    position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 220px;
    width: 547px;
    flex-direction: inherit;
}

.articles_in_main{
    margin-left: 580px;
    margin-top: -485px;
}

.main_show_like{
	margin-right: 20px;
	display: flex;
	align-items: center;
	font-size: 12px;
	color: #ffffff;
	align-content: center;
	vertical-align: middle;
}

.main_show_comment{
	display: flex;
	align-items: center;
	font-size: 12px;
	color: #ffffff;
	align-content: center;
	vertical-align: middle;
}

/* User article */
.author_page_img{
	background-image: url('/static/css/autor-page.png');
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(255, 255, 255, 0.34);
	padding-top: 60px;
	padding-bottom: 60px;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.author_avatar{
	width: 126px;
	height: 126px;
	margin: auto;
	border: 2px solid #D5D5D5;
	border-radius: 80px;
	padding: 4px;
}

.user_article a{
     display: block;
     height: 100%; /* Высота на весь слой */
}

/* Paginator */
.white_background_paginator{
    padding-top: 30px;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	height: 51px;
	margin-bottom: 50px;
	background-color: rgba(255, 255, 255, 0.34);
}

.pagination {
    text-align: center;
	margin: auto;
    width: max-content;
}

.pagination-number {
    background-color: #000000;
    font-size: 14px;
    text-decoration: none;
    transition: background 250ms;
    display: inline-block;
    text-transform: uppercase;
    margin: 0 3px 6px;
    height: 32px;
    min-width: 32px;
    border-radius: 38px;
    border: 2px solid #fff;
    line-height: 30px;
    padding: 0;
    color: #fff;
    font-weight: 700;
    letter-spacing: .03em;
}

.pagination-number:hover, .pagination-current {
	background-color: #ea8d15;
}

.pagination-action {
    background-color: #000000;
    font-size: 13px;
    text-decoration: none;
    transition: background 250ms;
    display: inline-block;
    text-transform: uppercase;
    margin: 0 3px 6px;
    height: 32px;
    min-width: 32px;
    border-radius: 38px;
    border: 2px solid #fff;
    line-height: 31px;
    padding: 0;
    color: #fff;
    font-weight: 700;
    letter-spacing: .03em;
    padding: 0 11px;
}

.pagination-action:hover, .pagination-previous, .pagination-next {
    background-color: #ea8d15;
}


/* User Profile */
.white_background_statistic{
    margin-top: 7px;
    width: 1340px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    height: 155px;
    background-color: rgba(255, 255, 255, 0.34);
}

.uoi{
    color: #000;
    height: 100%;
    width: 100%;
    position: relative;
    top: -100%;
    transition: all .4s;
}
